.btn-group{
        background-color: #005b77;
        float: right;
        margin-right: 420px;
        margin-top: 0%;
    }
    .buttons-html5,
    .buttons-print{
        background-color: #005b77;
    }